body {
  font-family: "Helvetica";
}
h1,
h2,
h3 {
  margin: 8px 0;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 15px;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}

.block1 {
  background-color: #f1ededbe;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  margin-left: 45px;
}

.block2 {
  background-color: #f1ededbe;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  margin-right: 45px;
}

.text-right {
  text-align: right;
}

img.small {
  max-height: 5px;
}

button {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-weight: 400px;
  background-color: #0d6efd;
  border: 1px solid transparent;
  width: 150px;
  cursor: pointer;
  color: #fff;
}

button.add {
  background-color: #0d6efd;
  width: 25px;
}
button.remove {
  background-color: #f0b240;
  width: 25px;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 25px;
}
/* border: 1px #404040 solid; */
