.response {
  text-align: center;
  padding: 100px;
}

.title {
  padding: 0 10px 0 10px;
}

.button {
  display: flex;
}

.back {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-weight: 400px;
  background-color: #0d6efd;
  border: 1px solid transparent;
  width: 150px;
  cursor: pointer;
  color: #fff;
}
